In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hervey Bay,AU,2021-12-05 03:48:46,-25.2986,152.8535,84.31,65,68,5.99
1,1,Yellowknife,CA,2021-12-05 03:48:47,62.4560,-114.3525,-25.08,75,75,5.75
2,2,Nikolskoye,RU,2021-12-05 03:48:47,59.7035,30.7861,10.02,93,87,6.40
3,3,Punta Arenas,CL,2021-12-05 03:45:05,-53.1500,-70.9167,48.31,57,75,10.36
4,4,Lompoc,US,2021-12-05 03:48:47,34.6391,-120.4579,55.13,85,1,0.00
...,...,...,...,...,...,...,...,...,...,...
507,507,Cernosice,CZ,2021-12-05 04:02:17,49.9601,14.3198,40.01,93,75,8.01
508,508,Tazovskiy,RU,2021-12-05 04:02:17,67.4667,78.7000,-30.66,100,69,5.14
509,509,Yerbogachen,RU,2021-12-05 04:02:18,61.2767,108.0108,0.39,82,100,13.42
510,510,Khowst,AF,2021-12-05 04:02:18,33.3833,69.8833,53.10,37,51,0.72
511,511,Privolzhskiy,RU,2021-12-05 04:02:18,51.4000,46.0333,31.30,58,100,5.53

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
len(city_data_df)

512

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=100, point_radius=4)
# Configuring zoom.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip booty head? "))
max_temp = float(input("What is the maximum temperature you would like for your trip booty head? "))

What is the minimum temperature you would like for your trip booty head? 60
What is the maximum temperature you would like for your trip booty head? 75

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,New Norfolk,AU,2021-12-05 03:48:48,-42.7826,147.0587,73.65,31,1,5.01
9,9,Ribeira Grande,PT,2021-12-05 03:48:49,38.5167,-28.7000,63.66,74,30,13.02
12,12,Hobart,AU,2021-12-05 03:48:50,-42.8794,147.3294,74.01,48,40,1.01
13,13,Atar,MR,2021-12-05 03:48:50,20.5169,-13.0499,68.76,16,91,8.61
15,15,Mecca,SA,2021-12-05 03:45:01,21.4267,39.8261,70.84,77,0,1.05
16,16,Vila Velha,BR,2021-12-05 03:47:51,-20.3297,-40.2925,73.35,91,75,2.30
30,30,Ambalavao,MG,2021-12-05 03:48:54,-21.8333,46.9333,73.09,60,0,2.86
32,32,Kapaa,US,2021-12-05 03:46:40,22.0752,-159.3190,71.92,75,90,1.01
34,34,Puerto Ayora,EC,2021-12-05 03:48:55,-0.7393,-90.3518,68.31,92,34,6.44
42,42,Cape Town,ZA,2021-12-05 03:48:57,-33.9258,18.4232,63.12,86,75,12.66

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       139
City          139
Country       138
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5      New Norfolk      AU     73.65 -42.7826  147.0587
9   Ribeira Grande      PT     63.66  38.5167  -28.7000
12          Hobart      AU     74.01 -42.8794  147.3294
13            Atar      MR     68.76  20.5169  -13.0499
15           Mecca      SA     70.84  21.4267   39.8261
16      Vila Velha      BR     73.35 -20.3297  -40.2925
30       Ambalavao      MG     73.09 -21.8333   46.9333
32           Kapaa      US     71.92  22.0752 -159.3190
34    Puerto Ayora      EC     68.31  -0.7393  -90.3518
42       Cape Town      ZA     63.12 -33.9258   18.4232

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,New Norfolk,AU,73.65,-42.7826,147.0587,The Shingles Riverside Cottages
9,Ribeira Grande,PT,63.66,38.5167,-28.7000,Quinta da Meia Eira
12,Hobart,AU,74.01,-42.8794,147.3294,Mantra on Collins Hobart
13,Atar,MR,68.76,20.5169,-13.0499,Oumou Elghoura
15,Mecca,SA,70.84,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
16,Vila Velha,BR,73.35,-20.3297,-40.2925,Quality Suites Vila Velha
30,Ambalavao,MG,73.09,-21.8333,46.9333,HÃ´tel Le Tropik
32,Kapaa,US,71.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
34,Puerto Ayora,EC,68.31,-0.7393,-90.3518,Finch Bay Galapagos Hotel
42,Cape Town,ZA,63.12,-33.9258,18.4232,Southern Sun Waterfront Cape Town

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]